# site settings
title: Automate Sweden
subtitle: A Swedish Excellence Cluster
email: automate-sweden@excellent.se
description: Welcome to the future of robotics and automation<br /> made in Sweden.
baseurl: "" # the subpath of your site, e.g. /blog
url: https://automate-sweden.github.io # the base hostname & protocol for your site
author:
street_address: 
city: 
state: 
zip_code: 
country: Sweden
phone: 

# homepage tiles
tiles-source: pages # accepts "posts" or "pages"
tiles-count: 6

# social settings (key must match name of font awesome icon)
# see https://fontawesome.com/icons?d=gallery&p=2&s=brands
# Icons are not shown if value is empty
# You need to restart jekyll for changes to have an effect
socials:
  GitHub: https://github.com/automate-sweden
  GitLab:
  Google-Plus: 
  Instagram:
  LinkedIn: 
  Twitter: 
  Facebook:
  Slack:

# build settings
markdown: kramdown

sass:
  style: compressed

exclude:
- "*.gemspec"
- LICENSE.md
- CONTRIBUTING.md
- README.md 
